.signInContainer {
	height: 100vh;
	display: block;
	justify-content: center;
	align-items: center;

	.signInLogo {
		width: 25rem;
	}

	.signInTitleContainer {
		align-items: center;
		display: flex;
		padding-left: none;
		padding-right: none;
	}

	@media screen and (max-width: 770px) {
		.signInTitleContainer {
			justify-content: center;
			padding-bottom: 1rem;
		}
	}

	.signInCard {
		background-color: transparent;
		border: none;
		color: white;
	}

	.signInCardBody {
		input {
			border: none;
			border-radius: 0;
			background-color: transparent;
			border-bottom: 1px solid #61dafb;
			color: white;
			font-size: 0.9rem;
		}

		:focus {
			box-shadow: none;
			border-bottom: 1px solid #61dafb69 !important;
		}

		:-webkit-autofill {
			background-color: transparent;
			border: none;
			background-clip: text;
			-webkit-background-clip: text !important;
			-webkit-text-fill-color: white !important;
			caret-color: white;
			border-bottom: 1px solid #61dafb;
		}

	}
}