.signInContainer {
	height: 100vh;
	display: block;
	justify-content: center;
	align-items: center;

	.signInLogo {
		width: 25rem;
	}

	.signInTitleContainer {
		align-items: center;
		display: flex;
		padding-left: none;
		padding-right: none;
	}

	@media screen and (max-width: 770px) {
		.signInTitleContainer {
			justify-content: center;
			padding-bottom: 1rem;
		}
	}

	.signInCard {
		background-color: transparent;
		border: none;
		color: white;
	}

	.signInCardHeader {}

	.signInCardBody {}
}